.main_container {
    height: 100%;
    width: 100%;
    background-color: rgba(27, 4, 92, 0.462);
    padding: 2%;
}
.sub_container {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    /* border: 2px solid red; */
}
.child_sub_container {
    width: 45%;
    height: 100%;
    padding-top: 5%;
    padding-left: 2%;
    /* border: 2px solid rebeccapurple; */
}
.h1 {
    margin-top: -5%;
    font-size: 4vw; 
    font-weight: bolder;
    color: rgb(12, 251, 251);
    margin-bottom: 2%;
}
.para2 {
    margin-top: -2%;
    font-size: 1.1vw;
    color: rgba(177, 189, 189, 0.752);
    margin-bottom: 2%;
}
.page_1_btn_div {
    width: 80%;
    height: auto;
    margin-top: 2%;
    /* border: 2px solid yellow; */
}
.h2_phlosofy {
    margin-top: -2%;
    font-size: 1.8vw;
    margin-bottom: 2%;
}
.h2 {
    margin-top: 3%;
    font-size: 1.8vw;
    margin-left: 5%;
}
.profile_photo {
    width: 50%;
    border-radius: 6%;
    margin-top: -2%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid rgb(192, 255, 196); */
}
.img {
    width: 100%;
    height: 70%;
    object-fit: cover;
}
.skill_div {
    margin-top: 1%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}
