.main_container {
    height: 90vh;
    width: 100%;
    background-color: rgba(27, 4, 92, 0.462);
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub_container {
    width: 90%;       
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.child_sub_container {
    width: 50%;         
    height: 100%;
    padding-top: 4%;
}
.h1_div {
    width: 80%;
    margin-bottom: 4%;
}

.h1 {
    font-size: 4.7vw;     
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(12, 251, 251);
    margin: 0;
}

.para2 {
    font-size: 1.2vw;  
    color: rgba(177, 189, 189, 0.75);
    margin-top: 2%;
    margin-bottom: 0%;
}
.page_1_btn_div {
    width: 70%;             
    height: auto;
    display: flex;
    gap: 5%;
}

.btn_1 {
    background-color: rgb(0, 72, 255);
    color: white;
     width: 30%;
}
.btn_2 {
    width: 30%;   
    padding: 10px 0;
    font-weight: bold;
    border-radius: 6px;
    border: none;
    color: black;
    background-color: rgba(204, 230, 248, 0.536);
}
.profile_photo {
    width: 60%;              
    height: auto;
    aspect-ratio: 1/1;      
    border-radius: 50%;
    overflow: hidden;
}
.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
