.card {
  background: #050e8b70;
  padding: 2%;
  width: 22%;            
  min-width: 250px;      
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.12);
  transition: 0.3s ease;
  border-left: 0.5vw solid #4f7cff;
}
.card:hover {
  transform: translateY(-3%);
  box-shadow: 0 8px 14px rgba(233, 221, 221, 0.608);
  
}
.title {
  font-size: 1.5vw;       
  min-font-size: 18px;
  font-weight: bolder;
  color: #04c5f0;
}
.desc {
  margin: 2% 0;
  color: #e8e5e5;
  font-size: 1vw;
  min-font-size: 14px;
}
.techList {
  margin-top: 3%;
  display: flex;
  flex-wrap: wrap;
  gap: 3%;
}
.techTagval {
  padding: 1% 2%;
  border-radius: 8px;
  font-size: 0.9vw;
  min-font-size: 12px;
  color: #c5b013;
  font-weight: bold;
}
.btn {
  margin-top: 5%;
  display: inline-block;
  padding: 1.5% 3%;
  background: #02f422b1;
  color: #171111;
  font-size: 1vw;
  min-font-size: 14px;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.3s;
  font-weight: bolder;
}
.btn:hover {
  background: #345bff;
  color: white;
}
