.box {
  background-color: rgba(27, 4, 92, 0.462);
  border-radius: 1.5vw;
  padding-left: 2%;
  padding-top: 1%;
  width: 22.7%;
  height: 55vh;
  box-shadow: 0 0.5vw 1.2vw rgba(0, 0, 0, 0.15);
  transition: 0.3s ease-in-out;
  margin-left: 6%;
}
.box:hover {
  transform: translateY(-1%);
  box-shadow: 0 0.6vw 1.6vw rgba(221, 218, 218, 0.25);
}
.title {
  font-size: 1.5vw;
  color: #07f5f5;
  font-weight: bold;
 
}
.desc {
  font-size: 1.1vw;
  color: #8f8c8c;
  margin-top: -1%;
}
.level {
  font-weight: bold;
  color: #c7f010e6;
  font-size: 1.2vw;
}
.duration {
  margin: 3% 0;
  font-size: 1.1vw;
  color: #f8f4f4;
}
.skill {
  margin: 3% 0;
  font-size: 1.1vw;
  color: #c3fd04b9;
}
.skill_h2 {
  margin: 3% 0;
  font-size: 1.5vw;
  color: #ec3030;
}
