.main_cont {
    height: 100vh;
    width: 100vw; 
    background-color: rgba(27, 4, 92, 0.462);
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    color: white;
    padding: 2%; 
}
.h1 {
    font-size: 4vw; 
    font-weight: bold;
    margin-bottom: 2%;
    text-align: center;
    color: aqua;
}
.form {
    width: 35%;       
    min-width: 260px;
    background: rgba(11, 199, 224, 0.368);
    padding: 5%;
    border-radius: 2%;
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
    display: flex;
    flex-direction: column;
    gap: 8%;
    height: auto;
    margin-bottom: 10%;
}
.field {
    height: 30%;           
    padding: 2%;
    font-size: 1vw;      
}
.btn {
    padding: 2.5% 0;
    border-radius: 8px;
    border: none;
    font-size: 1.2vw;  
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;  
    width: 70%;
    margin-left: 15%;
    margin-top: 2%;
}
.btn:hover {
    background: #25a4366c;
}
@media (max-width: 768px) {
    .h1 {
        font-size: 6vw;
    }
    .form {
        width: 80%;
    }
    .btn, .field {
        font-size: 3.5vw;
    }
}
